{% extends 'base.html' %}

{% block content %}

  {% if applications %}
<main>

  <a href="{% url 'job-list' %}" class="btn">لیست مشاغل</a>
    <section class="dashboard">
      <h2>درخواست‌های ارسال شده</h2>

      <div class="job-list">
          {% for app in applications %}
        <div class="job-card">
          <h3>{{ app.job.title }}</h3>
          <p>وضعیت: {{ app.status }}</p>
        </div>

    {% endfor %}
      </div>
    </section>
  </main>

  {% else %}
    <h2>هنوز هیچ درخواستی ارسال نکردید!</h2>
  {% endif %}
{% endblock %}
